body{
	margin-left: 20px;
}
ul ol{
	background-color: red;
	box-shadow: 1px 1px 3px #333;
	background: orange;
	width: 300px;
	margin-bottom: 20px;
	margin-left: -10px;
}
#search-box{
	margin-left: 30px;
	margin-bottom: 30px;
	padding: 10px;
	background-color: #CCC;
	width: 300px;
}
.designation{
	color:#fff;
}
.form-panel{
	background-color: #CCC;
	padding: 20px;
	margin-bottom: 20px;
}
.strikeout{
	text-decoration: line-through;
}

ul li{
}
i:before{
	font-size: 18px;
	content:'✎';
	display:inline-block;
	margin-right:5px;
	font-weight:normal;
	vertical-align: baseline;
}

.fadeIn.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fadeIn.ng-enter.ng-enter-active {
  opacity:1;
}

.fadeIn.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fadeIn.ng-leave.ng-leave-active {
  opacity:0;
}