ul ol{
	background-color: red;
	box-shadow: 1px 1px 3px #333;
	background: orange;
	width: 300px;
	margin-bottom: 20px;
	margin-left: -10px;
}
#search-box{
	margin-left: 30px;
	margin-bottom: 30px;
	padding: 10px;
	background-color: #CCC;
	width: 300px;
}
.designation{
	color:#fff;
}
.form-panel{
	background-color: #CCC;
	padding: 20px;
	margin-bottom: 20px;
}
.strikeout{
	text-decoration: line-through;
}