<div ng-controller='UserController'>
  <input type="radio" ng-model='selection' name="selection" value="1">Service</input>
  <input type="radio" ng-model='selection' name="selection" value="2">ng-if</input>
  <input type="radio" ng-model='selection' name="selection" value="3">ng-show</input>
  <input type="radio" ng-model='selection' name="selection" value="4">ng-switch</input>
  <input type="radio" ng-model='selection' name="selection" value="5">Animation</input>

  <div ng-show="selection == '1'">
    <button class="btn" ng-click="fetch()">Fetch Data</button>
    <input type="search" ng-model="q" placeholder="filter users..." aria-label="filter friends" />
    <table class='table table-striped'>
      <tr>
        <th>Name</th>
        <th>Skill</th>
        <th>Action</th>
      </tr>
        <tr ng-repeat='user in users | filter:q as results'>
          <td>{{user.name}}</td>
          <td>{{user.skill}}</td>
          <td><button ng-click='remove'>Remove</button></td>
        </tr>
        <tr ng-if='results.length == 0'>
          <td colspan="3">No Data Available!!</td>
        </tr>
    </table>
</div>
<div ng-show="selection == '2'">
  asfdsfdsfgds
  <input type="checkbox" ng-model="if">ng-If Demo</input>
  <p ng-if="if">Checkbox is selected now!!!</p>
  <p ng-if="!if">Checkbox is not selected now!!!</p>
</div>

<div ng-show="selection == '3'">
  <input type="checkbox" ng-model="show">ng-show Demo</input>
  <p ng-if="show">Checkbox is selected now!!!</p>
  <p ng-if="!show">Checkbox is not selected now!!!</p>
</div>
<div ng-show="selection == '4'">
  <select ng-model="switch">
    <option value="settings">settings</option>
    <option value="home">home</option>
    <option value="other">other</option>
  </select>
  <div class="animate-switch-container"
   ng-switch on="switch">
     <div class="animate-switch" ng-switch-when="settings">Settings Div</div>
     <div class="animate-switch" ng-switch-when="home">Home Span</div>
     <div class="animate-switch" ng-switch-default>default</div>
 </div>

</div>
<div ng-show="selection == '5'">
  <button class="btn" ng-click="fetch()">Fetch Data</button>
  <input type="search" ng-model="q" placeholder="filter friends..." aria-label="filter users" />
  <table class='table table-striped example-animate-container'>
    <tr>
      <th>Name</th>
      <th>Skill</th>
      <th>Action</th>
    </tr>
      <tr ng-repeat='user in users | filter:q as results' class="animate-repeat">
        <td>{{user.name}}</td>
        <td>{{user.skill}}</td>
        <td><button ng-click='remove'>Remove</button></td>
      </tr>
      <tr ng-if='results.length == 0' class="animate-repeat">
        <td colspan="3">No Data Available!!</td>
      </tr>
  </table>
</br>
<p>
  <input type="button" value="set" ng-click="myCssVar='css-class'">
  <input type="button" value="clear" ng-click="myCssVar=''">
  <br>
  <span ng-class="myCssVar">CSS-Animated Text</span>
</p>
</div>

   </div>
